// .cards-container{
//     width: 90%;
//     margin: 20px auto;
// }

// @media (min-width: 768px) {
//     .cards-container{
//         display: grid;
//         grid-template-columns: repeat(4,1fr);
//         gap: 10px;
//     }
// }

// @media (max-width: 767px) {
//     .cards-container{
//         display: grid;
//         grid-template-columns: repeat(2,1fr);
//         gap: 10px;
//     }
// }

.comic-card {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

.margin-column{
    margin-bottom: 20px;
}